<!-- <form [formGroup]="invoice_userForm" (ngSubmit)="addItem()">

  proudct name <input type="text" formControlName="prod_name" name="" id=""><br>
  Quantity<input type="text" formControlName="quantity" name="" id=""><br>
  price<input type="text" formControlName="price" name="" id=""><br>
  cgst<input type="number" formControlName="cgst" name="" id=""><br>
  sgst<input type="number" formControlName="sgst" name="" id=""><br>
  total<input type="number" formControlName="total" name="" id=""><br>
  customer number<input type="number" formControlName="mobile" name="" id=""><br>
  Date<input type="date" formControlName="date" name="" id="">
  <input type="submit" value="submit" [disabled]="!invoice_userForm.valid">
  </form> -->


  <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center"> 
            <h3>Invoice Form</h3>
            <!-- <p class="blue-text">Invoice form</p> -->
            <div class="card">
                <!-- <h5 class="text-center mb-4">Powering world-class companies</h5> -->
                <form class="form-card" [formGroup]="invoice_userForm" (ngSubmit)="addItem()">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">proudct name<span class="text-danger"> *</span></label>
                          <input type="text" formControlName="prod_name" name="" id=""> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Quantity<span class="text-danger"> *</span></label> 
                          <input type="text" formControlName="quantity" name="" id=""> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Price<span class="text-danger"> *</span></label> 
                          <input type="text" formControlName="price" name="" id=""></div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">CGST<span class="text-danger"> *</span></label>
                          <input type="number" formControlName="cgst" name="" id=""> </div>
                    </div>
                    
                    <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">SGST<span class="text-danger"> *</span></label> 
                        <input type="number" formControlName="sgst" name="" id=""> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Total<span class="text-danger"> *</span></label>
                        <input type="number" formControlName="total" name="" id=""> </div>
                    </div>

                    <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"> customer number<span class="text-danger"> *</span></label> 
                        <input type="number" formControlName="mobile" name="" id=""> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Date<span class="text-danger"> *</span></label>
                        <input type="date" formControlName="date" name="" id=""> </div>
                  </div>

              

                    <!-- <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">What would you be using Flinks for?<span class="text-danger"> *</span></label> <input type="text" id="ans" name="ans" placeholder="" onblur="validate(6)"> </div>
                    </div> -->
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6">   <input  class="btn-block btn-primary" type="submit" value="submit" [disabled]="!invoice_userForm.valid"> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  <h3>Invoice Items</h3>

  <table class="table" *ngIf="invoiceItem.length !=0">
    <thead>
      <tr>
        <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>CGST</th>
      <th>SGST</th>
      <th>Total</th>
      <th>Mobile</th>
      <th>Date</th>
      <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoiceItem; let i = index">
        <td>{{ item.prod_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.cgst }}</td>
        <td>{{ item.sgst }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.date }}</td>
        <td>
          <button class="btn btn-warning" (click)="editItem(i)">Edit</button>
          <button class="btn btn-danger" (click)="deleteItem(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

